<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    <!-- Preloader-->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- Preloader end-->
    <!-- Show menu-->
    <div class="show-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Show menu end-->
    {{> menu}}
    <div class="wrapper">
        <!-- Hero section-->
        <section class="split-image parallax" data-background="assets/images/module-10.jpg"></section>
        <!-- Hero section end-->
        <!-- Content section-->
        <section class="split-content">
            <!-- Page title-->
            <section class="module">
                <div class="container-fluid container-custom">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Let´s Talk.</h1>
                            <p>Whether you want to materialize your idea or just need some advice on an existing problem, feel free to contact me.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page title end-->
            <!-- Reach me-->
            <section class="module">
                <div class="container-fluid container-custom">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6>Reach me.</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>Phone:</h6>
                            <ul>
                                <li>+27 76 654 2813</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h6>E-mail:</h6>
                            <ul>
                                <li><a href="#">developersworkspace@gmail.com</a></li>
                                <li><a href="#">info@worldofrations.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Reach me end-->
            {{> footer}}
        </section>
        <!-- Content section end-->
    </div>
    <!-- Scripts-->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/custom.min.js"></script>
</body>
</html>