<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    <!-- Preloader-->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- Preloader end-->
    <!-- Show menu-->
    <div class="show-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Show menu end-->
    {{> menu}}
    <div class="wrapper">
        <!-- Hero section-->
        <section class="split-image parallax" data-background="assets/images/module-7.jpg">
            <div class="split-image-footer">
                <ul class="split-list">
                    <li>Download cv:</li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Afrikaans</a></li>
                </ul>
            </div>
        </section>
        <!-- Hero section end-->
        <!-- Content section-->
        <section class="split-content">
            <!-- Hello text-->
            <section class="module">
                <div class="container-fluid container-custom">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Hello, I am Barend Erasmus<br>Software Engineer</h1>
                            <p>
                                Since 2014 I've been exposed to various angles of software development, which ranges from creating my own startup, supporting
                                other startups, contract work, software consulting and contributing to international companies.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hello text end-->
            <!-- Personal info-->
            <section class="module">
                <div class="container-fluid container-custom">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6>Personal Info.</h6>
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                <li>Name: Barend Erasmus</li>
                                <li>Birthdate: May 23, 1996</li>
                                <li>Address: Table View, Cape Town, 7441, South Africa</li>
                                <li>Phone: +27 76 654 2813</li>
                                <li>E-mail: <a href="#">developersworkspace@gmail.com</a></li>
                                <li>Website: <a href="#">developersworkspace.co.za</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Personal info end-->
            <!-- Professional skills-->
            <section class="module">
                <div class="container-fluid container-custom">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6>Professional skills.</h6>
                        </div>
                        <div class="col-sm-8">
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">C#, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">SQL, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="55" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Python, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">NodeJS, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="40" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Angular, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="55" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Linux, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Windows, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">MySQL, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">PHP, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="40" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Redis, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">MongoDB, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Postgres, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="30" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Docker, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                            <!-- Progress bar-->
                            <div class="progress-item">
                                <div class="progress-title">Powershell, <span class="p-coutn"></span>%</div>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="65" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- Progress bar end-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Professional skills end-->
            {{> footer}}
        </section>
        <!-- Content section end-->
    </div>
    <!-- Scripts-->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/custom.min.js"></script>
</body>

</html>