<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
    <!-- Preloader-->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- Preloader end-->
    <!-- Show menu-->
    <div class="show-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Show menu end-->
    {{> menu}}
    <div class="wrapper">
        <!-- Hero section-->
        <section class="split-image parallax" data-background="assets/images/module-9.jpg"></section>
        <!-- Hero section end-->
        <!-- Content section-->
        <section class="split-content">
            <!-- Page content-->
            <section class="module">
                <div class="container-fluid container-custom">
                    <!-- Page title-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <h1>Latest Projects</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Page title end-->
                    <!-- Portfolio filter-->
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="filters" id="filters">
                                <li><a class="current" href="#" data-filter="*">Show All</a></li>
                                <li><a href="#" data-filter=".web">Web</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Portfolio filter end-->
                    <!-- Portfolio-->
                    <div class="row-portfolio">
                        <!-- Portfolio image-->
                        <div class="portfolio-item web">
                            <div class="portfolio-wrapper"><img src="assets/images/projects/EPONS.png" alt="">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-caption">
                                    <h6 class="portfolio-title">EPONS</h6><span class="portfolio-subtitle">SADFM</span>
                                </div>
                            </div>
                            <a class="portfolio-link lightbox" href="assets/images/projects/EPONS.png"></a>
                        </div>
                        <!-- Portfolio image end-->
                        <!-- Portfolio image-->
                        <div class="portfolio-item web">
                            <div class="portfolio-wrapper"><img src="assets/images/projects/WoR.png" alt="">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-caption">
                                    <h6 class="portfolio-title">World of Rations</h6><span class="portfolio-subtitle">Savas Couvaras</span>
                                </div>
                            </div>
                            <a class="portfolio-link lightbox" href="assets/images/projects/WoR.png"></a>
                        </div>
                        <!-- Portfolio image end-->
                        <!-- Portfolio image-->
                        <div class="portfolio-item web">
                            <div class="portfolio-wrapper"><img src="assets/images/projects/Medusa.png" alt="">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-caption">
                                    <h6 class="portfolio-title">Medusa</h6><span class="portfolio-subtitle">Synapseon</span>
                                </div>
                            </div>
                            <a class="portfolio-link lightbox" href="assets/images/projects/Medusa.png"></a>
                        </div>
                        <!-- Portfolio image end-->
                    </div>
                    <!-- Portfolio end-->
                </div>
            </section>
            <!-- Page content-->
            {{> footer}}
        </section>
        <!-- Content section end-->
    </div>
    <!-- Scripts-->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/custom.min.js"></script>
</body>

</html>