<!-- Footer-->
<footer class="footer">
    <div class="container-fluid container-custom">
        <div class="row">
            <div class="col-md-7">
                <p>© 2016 Developer's Workspace. All rights reserved</p>
            </div>
            <div class="col-md-5">
                <ul class="social-list">
                    <li><a href="https://www.facebook.com/ben.erasmus.121"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/104510562212077465584"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://za.linkedin.com/in/developersworkspace"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end-->